title: SpatializeIt - Visualize Your World!
short_title: SpatializeIt
description: SpatializeIt - A boutique GIS firm specializing in GIS based design and development
baseurl:
permalink: "/:path/"
defaults:
  - scope:
      path: ""
    values:
      layout: page
  - scope:
      path: ""
      type: posts
    values:
      layout: post
collections:
  people:
    output: true
    permalink: "/about/:path/"
  posts:
    output: false
  projects:
    output: true
    permalink: "/projects/:path/"
# tag_page_layout: tag_page
# tag_page_dir: tag
jekyll-archives:
  enabled: all
  layout: "archive"
gems:
  - jekyll-menus
  - jekyll-feed
  - jekyll-archives
google_maps_javascript_api_key: "AIzaSyCFiqRBLbka833esQwaFcsi0CSrZjM_W7E"
